body{
    background-color: #fcfcfc;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0 0 0 0 ;
}
.heder
{
    font-size: 30px;
    width: 80%;
    margin: auto;
    word-wrap: inherit;
    padding-top: 20px;
}
.body
{
    width: 100%;
    margin: auto ;
    padding-bottom: 3vw;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.nav
{ 
    position: sticky;
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
    z-index: 99;
}
.nav>ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

.nav>ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

.nav>ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

.nav>ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

.nav>ol > li:hover
{
	background-color: #cf6969;
}

.nav>ol > li:hover > a
{
	color: #451717;
}

.nav>ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

.nav>ol > li:hover > ul
{
	display: block;
}

.nav>ol > li > ul > li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

.nav>ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

.nav>ol > li > ul > li:hover > a
{
	color: #451717;
}
.menu
{
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color:  #C3D1A3;
    position: -webkit-sticky;
    position: sticky;
    left:0;
    top:0;

}
.boxs
{
    width: 60vw;
    margin: auto;
    background-color: #F8FAF5;
    border: 1px solid #C3D1A3;
    word-wrap: break-word;
    
}
.boxss
{
    list-style-type: none ;
    font-size: 19px;
    margin-right: 25px;
    margin-left: 0px;
    flex-wrap: inherit;
    list-style-position: outside;
    position: relative !important;
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
}
.boxss>li
{
    width: 29px; 
    vertical-align: baseline;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    border: 1px solid #919171;
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;

}
.boxssC
{
    width: 29px; 
    vertical-align: baseline;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    border: 1px solid #919171;
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.active{
    border-color: #7DB1D3 !important;
    box-shadow: 0px 0px 2px 1px #C4C4C4;
}
.dellTest{
    width: 100%;
    margin-left: 0px !important;
}
.pytanieBody
{
    margin: auto;
    width:60vw;
    min-height: 50px;
    margin-top: 30px;
    border: 1px solid #717151;
    position: relative;
}
.pytanie_nuber{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}
.pytanie_tr
{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.pytanie_img
{ border: 1px solid #000000;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

.pytania_box
{
    background-color: #F8FAF5;
    border: 1px solid #C3D1A3;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    
}
.pytania_box>ol{
    list-style-type: none;
}
.button_to_do
{
    margin-left:1vw;
    font-size: 1.1vw !important; 
    border: 0.01vw solid #DADADA ;
    background: whiteSmoke ;
    color: #303030 ;
    border-radius: 0.2vw ;
    padding: 3px 5px ;
    box-shadow: 0px 0px 1vw #A7A7A7 ;
    cursor: pointer;
    /*transition-property:border-color, background-color;
    transition-duration:100ms, 100ms;
    transition-timing-function:ease-in, linear;
    transition-delay:300ms, 300ms;*/
    
}
.button_to_do:hover 
{
    background-color: rgb(158, 198, 224) ;
    border-color: #78c4d1 ;
}



.disable{
    display: none;
}
.error_body
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold ', sans-serif;
    font-size: 60px;
    color: #FF0000;
}
.correct
{
    background-color: #6DB46D !important;
}
.wrong
{
    background-color: #FF9191 !important;
}
.cTest
{
    
    background-color: #ebd4ab;
    width: 90%;
    min-height: 50px;
    margin: auto;
}
.titleC
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #555555;
   margin-left: 10px;
}
.content>input{
    width: 100%;
    font-size: 2vw !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.inputedit
{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-size: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.inputedit:focus
{
    box-shadow: 0px 0px 1vw   #65afe0;
    border: #7DB1D3;
    background-color: #7db0d365;
}
.textareaEdit{
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    height: 300px;
    font-size: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 00px;
}
.textareaEdit:focus
{
    box-shadow: 0px 0px 1vw   #65afe0;
    border: #7DB1D3;
    background-color: #7db0d365;
}
.content>table{
    font-size: 20px;
}
.content>table>thead>tr{
    background-color: #fff4e1;
}
.content>table>tbody>tr:nth-child(even) { background-color:#fff8eb; }
.content>input:active{
    border-color: #7DB1D3 !important;
    box-shadow: 0px 0px 2px 1px #C4C4C4;
}
.tabela>tr{
    background-color: #fff4e1;
}
.tabela>tr:nth-child(even) { background-color:#fff8eb; }
.tabela>tr { background-color:#c3d1a3; }
.tabelaH>thead{
    background-color:#fff8eb;
}
.tabelaH>thead>tr>td:nth-child(6){
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.tabelaH{
    font-size: 20px;
    
}
.tabelaH>tbody>tr>td>form>button{
    width: 100%;
    margin-left: 0px;
    font-size: 0.9vw;
}
.tabelaH>tbody>tr>td>button{
    width: 100%;
    margin-left: 0px;
    font-size: 0.9vw;
}
.content>table>thead>tr>td:nth-child(6){
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.content>table>tbody>tr>td>form>button{
    width: 100%;
    margin-left: 0px;
    font-size: 0.9vw;
}
.content>table>tbody>tr>td>button{
    width: 100%;
    margin-left: 0px;
    font-size: 0.9vw;
}
.menu>a
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px;
    float:left !important;
    text-decoration: none;
}
.require{
    border-color: #c92d2d;
    box-shadow: 0px 0px 50px 1px #c92d2d;
}
.just{
   background-color:  #b4dbee !important;
   /*border-color: #FF0000;*/
   box-shadow: 0px 0px 20px 5px #8fd2ff;
}
.lds-ring {
    /*display: inline-block;*/
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;/*
    transform: translateY(500px);*/
    margin-top: 55vh;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 99px;
    height: 99px;
    margin: 1px;
    border: 10px solid #00ff80;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #09ff00 transparent transparent transparent;
    
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .background{
      position: absolute;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: hsla(0, 0%, 33%, 0.199);
      background: cover;
     z-index: 10;
     left: 0;
    top: 0;
  }
  .backgroundTekst{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: #06a701 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .dataSzukaj{
width: 18vw !important;
float: left !important;
margin-right: 10%;
  }
  .select{
      box-shadow: 0px 0px 1vw #06a701;
      border-color: #06a701;
      background: #07a7013a;
  }
  .editTable{
    box-shadow: 0px 0px 1vw #e0c134;
    border-color: #e0c134;
    background: #e0c03459;
  }

  .textareaEditfull{
      width: 100vw;
      height: 80%;
      margin: 0 0 0 0;
      margin-bottom: 20px;
      font-size: 1vw;
  }
  #fast{
      margin-bottom: 20px;
  }
  .idinput
  {
      display: none;
  }
  .error_bodyy
  {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold ', sans-serif;
    font-size: 60px;
    color: #FF0000;
  }

  .user{
cursor: pointer;
  }
.body_logowania
{
    display: block;
    width: 25vw;
    margin: auto;
margin-top: 30px;
   
}
.body_logowania>form>input
{
    display: block;
    width: 90%;
    height: 2vw;
    font-size: 1vw;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.body_logowania>form>div{
    text-align: center;
    font-size: 2vw;
}
.triangle {
	width: 0;
	height: 0;
}
.triangle.up {
    margin-bottom:20px;
    border-left: 0.8vw solid transparent;
	border-right:   0.8vw solid transparent;
    border-bottom: 1.5vw solid #b30; 
    float: left;
    
}
.triangle {
	width: 0;
    height: 0;
    cursor: pointer;
}
.triangle.down {
    margin-bottom:30px;
	border-left: 0.8vw solid transparent;
	border-right:   0.8vw solid transparent;
    border-top: 1.5vw solid #b30;
    float: left;
    margin-left: 2px;
}
#opcjeB
{
    background-color: #f8ecd5;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
#opcjeB>span
{
    float: left;
    font-size: 2vw;
    
}
#opcjeB>select{
    float: left;
    font-size: 2vw;
    margin-left: 20px;
    margin-right: 20px;
}
#opcjeB>input
{
    display: block;
    font-size: 2vw;
    width: 2vw;
    height: 2vw;
     float: left;
     margin-right: 20px;
}
#egzaminyGrid{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 1vw;
  background-color:  #C3D1A3;
  padding: 1vw;
  border-radius: 30px;
}
.egzaminyGridItem
{
    width: 28vw;
    /*height: 28vw;*/
    background-color: #f8ecd5;
    border-radius: 30px;
    border-style: solid;
}
.egzaminyGridItem>h1{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-bottom: 2vw;
 margin-top: 2vw;
 font-size: 2vw;
}
.egzaminyGridItem>table
{
    
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 1vw;
margin-bottom: 1vw;
}
.egzaminyGridItem>table>tbody>tr>td{
    padding-bottom: 0.2vw;
    
}
.egzaminyGridItem>span
{
font-size: 2vw;
margin-left: 30px;
float: left;
}
.statusE
{
    font-size: 2.2vw;
    float: left;
    margin-left: 2vw;
    color: #ff0000;
}

.egzaminyGridItem_uczen
{
    width: 28vw;
   /* height: 23vw;*/
    background-color: #f8ecd5;
    border-radius: 30px;
    border-style: solid;
}
.egzaminyGridItem_uczen>h1{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-bottom: 2vw;
 margin-top: 2vw;
 font-size: 2vw;
}
.egzaminyGridItem_uczen>table
{
    width: 90%;
    margin-left: 0;
    text-align: center;
    font-size: 1vw;
margin-bottom: 1vw;
}
.egzaminyGridItem_uczen>table>tbody>tr>td{
    padding-bottom: 0.2vw;
    
}
.egzaminyGridItem_uczen>span
{
font-size: 2vw;
margin-left: 30px;
float: left;
}
.wyniki2{
    margin: auto;
    width:60vw;
    text-align: center;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    margin-top: 20px;
}
.tabelaWyniki
{
    width: 50vw;
    margin: auto;
    text-align: center;
    background-color: #C3D1A3;
    font-size: 20px;
}
.tabelaWyniki>thead>tr
{
    background-color: #fff4e1;
}
.tabelaWyniki>tbody>tr:nth-child(even) { background-color:#fff4e1; }