doctype html
html
  head
    title= "Administrator"
    link( rel="Shortcut icon" href="/img/ico/testy-logiczne.ico")
    script(src="/js/tooltips.js")
    link(rel='stylesheet', href='/css/nstyle.css')
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    script(src="/js/jquery-2.0.3.min.js")