div.nav
    span="Witaj " + name + " !"
        
    ol
        li
            a(href="/uczen/testy/aktualne")="Testy"
            ul
                li
                    a( href="/uczen/testy/edytuj")="Edycja testu test"
        li
            a(href="/wyloguj")="Wyloguj"
